body {
    font-family: 'Poppins', sans-serif;
    background: rgba(17, 181, 200, 1)
}

#perspective {
    margin: 0 auto;
    margin-top: 20px;
    width: 210px;
    height: 450px;
    position: relative;
    -webkit-perspective: 1100px;
    perspective: 1100px;
}

#carousel-controls {
    position: absolute;
    margin-top: 390px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg) translateZ(-288px);
    z-index: -1;
}

.crsl-prev, .crsl-next {
    background: transparent;
    border: none;
    cursor: pointer;
}

.crsl-prev img, .crsl-next img {
    width: 16px;
    height: 25px;
}

.crsl-prev, .crsl-next {
    background: transparent;
    border: none;
    cursor: pointer;
}

.crsl-prev img, .crsl-next img {
    width: 16px;
    height: 25px;
}

#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg) translateZ(-288px);
    z-index: -1;
}

#carousel figure {
    display: block;
    position: absolute;
    background: #f1f1f1;
    width: 200px;
    height: 355px;
    opacity: 1;
    margin: 12px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    -moz-transition: opacity 1s, -moz-transform 1s;
    -o-transition: opacity 1s, -o-transform 1s;
    transition: opacity 1s, transform 1s;
    border-radius: 15px;
}

.video-container img {
    width: 100%;
    border-radius: 15px;
}

.video-container .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: url('img/33333333.png') no-repeat;
    background-size: contain;
    cursor: pointer;
}

.video-container video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.text-center.myPanels {
    display: none;
}

.pendemic {
    padding: 50px 0;
    background: #0d96a6;
    position: relative;
    overflow: hidden;
}















.dt {
    display: table;
}

.dtc {
    display: table-cell;
    vertical-align: middle
}

a:hover {
    text-decoration: none
}

.whats {
    background: rgba(32, 187, 175, 0.95);
    color: #ffffff;
    display: inline-block;
    text-align: center;
    padding: 12px 45px;
    position: relative;
    border-radius: 5px;
}
.buttons.text-center i {
    color: color(srgb 0.8833 0.1421 0.2181);
}

.whats:hover {
    color: #ffffff
}

.get_prices_top {
    background: linear-gradient(270.05deg, #e12438 0%, #11b5c8 100%);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 95%;
    z-index: 1000;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4px;
    font-size: 14px;
    color: #fff;
    padding-top: 8px !important;
}

.whats p {
    font-size: 14px !important;
    line-height: 17px;
    font-weight: 700 !important;
    margin: 0 !important;
}

.whats span {
    display: block;
    font-weight: normal !important;
    font-size: 13px
}

.whats i {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width:991px) {
    .whats {
        padding: 10px 40px;
    }

    .whats span {
        font-size: 12px
    }
}

@media(max-width:766px) {
    .whats {
        padding: 10px 40px;
    }

    .whats p {
        font-size: 13px !important;
        line-height: 15px;
    }

    .whats span {
        font-size: 12px
    }
}
/* fix top */
#fix-top{
    background: #ffffff;
    padding: 12px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transform: translateY(-100%);
    transition: all ease-in-out 500ms;
    padding-top: 50px;

}

header.hidden-xs {
    padding-top: 50px;
}

.fixed{
    transform: translateY(0) !important;
    box-shadow: 0 0 7px #cacaca;
}
#fix-top .newp{
    color: #3a2b6b;
    margin: 12px 0 0;
}
#fix-top .newp span{
    background: rgba(17, 181, 200, 1);
    padding:  3px;
    color: #ffffff;
    display: inline-block;
    font-weight: 700;
}
#fix-top .whats{
    top: 25px;
}
@media(max-width:766px){
    #fix-top img{
        width: 125px;
    }
    #fix-top .whats {
        padding: 10px 25px;
        margin-top: 5px;
    } 
    #fix-top .whats p {
        font-size: 12px !important;
    }
    #fix-top .whats span {
        font-size: 10px;
    }
    #fix-top .whats i {
        right: 10px;
    }
    #fix-top .whats{
        top: 0;
    }
    #fix-top .newp{
        font-size: 12px;
    }
}
/* header */
header {
    text-align: center;
    padding: 12px 0;
    background: #ffffff
}

header .mg {
    margin-top: 10px;
}

header .logo {
    float: left;
}

header .lang {
    float: right;
    height: 40px;
    line-height: 40px;
}

header .lang .clang {
    color: #838f9e;
    margin-right: 14px;
    cursor: pointer;
    font-weight: 700
}

header .lang .clang i {
    margin-left: 10px;
}

header .social {
    float: right;
    position: relative;
    padding-left: 10px;
}

header .social ul {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}

header .social ul li {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

header .social ul li a {
    float: left;
    position: relative;
    margin: 0 2px;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    background: #eee;
    line-height: 40px;
    text-align: center;
    font-size: 17px;
    color: #00000073;
}

header .tel {
    display: inline-block;
    width: auto;
}

header .tel a {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #899092;
    text-decoration: none;
    padding: 0 15px;
    background: #f3f6f7;
    border: 1px solid #edf5f7;
    border-radius: 7px;
    height: 40px;
    line-height: 40px;
    direction: ltr !important;

}

header .tel a i {
    color: #3a2b6b;
    margin-right: 1rem;
}

@media(max-width:766px) {

    header .lang
     {
        margin-top: 15px;
        float: left;
padding-left: 10px;
    }
}
@media(max-width:320px){
   header .logo img {
      width: 104px;
} 
}


/* main */
.main {
    background-image: url('img/main.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 62px 0 215px;
    background-position: center;
}

.form {
    background: #ffffff;
    width: 249px;
    padding: 20px 20px 42px;
    position: relative;
}

.form span {
    position: absolute;
    background: #3a2b6b;
    width: 65px;
    height: 8px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.form p {
    text-align: center;
    color: #3a2b6b;
    margin: 0 0 15px;
}

.form .form-control {
    border-radius: 0;
    margin-bottom: 10px;
    font-size: 12px;
    background: #F3F3F3;
    border: 1px solid #E9E9E9;
    box-shadow: none;
    height: 40px;
    color: #3a2b6b
}

.swiper-bg {
    background-color: #ffffff;
    padding: 20px 0px;
}

.inp:after {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    color: #ccc;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900
}

.ends_min {
    background: #f8f8f8;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 10px;
}

.slide-img a img {
    border-radius: 10px;
    width: 100%;
}

.november_campaigns_bg {
    background-color: #ffffff;
    padding: 20px 0;
}

.slide-date {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 100%;
}

.slide-img {
    display: block;
    position: relative;
}

.slide_description {
    padding: 5px 10px 20px;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
}

.slide_description span {
    color: red;
}

.slider-november-min {
    display: flex;
    justify-content: center;
}

.slide-date p {
    font-size: 12px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-left: 20px;
}

.slide_description p {
    font-size: 12px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-left: 20px;
}

#vdrv-widget {
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 99999999;
}

#acici {
    border-radius: 20px;
    bottom: 483px;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    left: 261px;
    max-height: 50vh;
    opacity: 1;
    outline: none;
    overflow: hidden;
    position: absolute;
    transition: transform 0.2s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out, bottom 0.3s ease-in-out, border-color 0.2s ease-in-out, opacity 1s ease-in-out;
    width: 40px;
    z-index: 99999999999 !important;
}

#kapatici {
    border-radius: 20px;
    bottom: 198px;
    box-sizing: border-box;
    cursor: pointer;
    height: 32px;
    left: 148px;
    max-height: 50vh;
    opacity: 1;
    outline: none;
    overflow: hidden;
    position: absolute;
    transition: transform 0.2s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out, bottom 0.3s ease-in-out, border-color 0.2s ease-in-out, opacity 1s ease-in-out;
    width: 32px;
    z-index: 99999999999 !important;
}

#vdrv-widget #vdrv-widget-video-wrapper {
    background: #eee;
    border: 3px solid #fff;
    border-radius: 20px;
    bottom: 50px;
    box-shadow: 1px -2px 15px 5px rgba(0, 0, 0, 0.62);
    box-sizing: border-box;
    cursor: pointer;
    height: 180px;
    left: 50px;
    max-height: 92vh;
    opacity: 1;
    outline: none;
    overflow: hidden;
    position: absolute;
    transition: transform 0.2s ease-in-out, width 0.3s ease-in-out,
        height 0.3s ease-in-out, bottom 0.3s ease-in-out,
        border-color 0.2s ease-in-out, opacity 1s ease-in-out;
    width: 130px;
    z-index: 999999;
}

#vdrv-widget #vdrv-widget-video-wrapper .vdrv-video-widget {
    height: 100%;
    left: 50%;
    min-height: 100%;
    min-width: 101%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease-in-out;
    width: 100%;
    z-index: 200;
}

#vdrv-widget #vdrv-widget-video-wrapper #vdrv-cta-button {
    background: #131344;
    border-color: #131344;
    border-radius: 10px;
    bottom: 10px;
    box-shadow: 1px -2px 15px 5px rgba(0, 0, 0, 0.62);
    height: 35px;
    left: 30px;
    opacity: 0;
    position: absolute;
    right: 30px;
    text-align: center;
    transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out,
        background-color 0.2s ease-in-out;
    visibility: hidden;
    z-index: 300;
}

#vdrv-widget #vdrv-widget-video-wrapper .vdrv-widget-close {
    height: 20px;
    opacity: 0;
    position: absolute;
    right: 6px;
    top: 6px;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    width: 20px;
    z-index: 250;
}

.bx-pager.bx-default-pager {
    display: none;
}
#vdrv-widget #vdrv-widget-video-wrapper:hover {
    border-color: #131344;
    transform: scale(1.05) translate(5px, -5px);
}

.name:after {
    content: "\f007";
}

.phone:after {
    content: "\f3cd";
    font-size: 18px;
}

.nation:after {
    content: "\f2bb";
}

/* .country:after {
    content: "\f57d";
    font-size: 14px;
} */
.msg:after {
    content: "\f0e0";
    top: 10px;
    transform: none;
    font-size: 15px
}

.form button {
    height: 40px;
    width: 100%;
    background: #3a2b6b;
    color: #ffffff;
    font-size: 12px;
    border-radius: 0
}
.form button:hover{
   color: #ffffff; 
}
.main h1 {
    color: #ffffff;
    margin: 0;
    font-size: 46px;
    line-height: 43px;
    font-weight: 500;
}

.main h1 span {
    display: block
}
.main .text p:first-of-type{
    font-size: 19px;
margin: 0 0 6px 0;
}
.main .text p {
    color: #ffffff;
    font-size: 26px;
    margin: 20px 0;
    font-weight: 300;
}

@media(max-width:1199px) {
    .main h1 {
        font-size: 40px;
    }
    .main .text p:first-of-type {
        font-size: 18px;
        margin: 0 0 6px 0;
    }
    .main .text p {
        font-size: 22px;
    }
}

@media(max-width:991px) {

    .main .text p {
        font-size: 18px;
    }
    .main .text p:first-of-type {
        font-size: 16px;
        margin: 0 0 0px 0;
    }
}

@media(max-width:766px) {
    .main {
        background-image: url('img/mobile.png');
        padding: 62px 0 325px;
    }

    .main h1 {
        font-size: 42px;
        line-height: 48px;
    }
    .main .text p:first-of-type {
        font-size: 16px;
        margin: 0 0 6px 0;
    }
    .main .text p {
        font-size: 14px;
    }

    .form {
        margin-top: -114px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 62px;
    }
}

/* boxes */

.boxes {
    margin-top: -150px;
}

.boxes .outerb {
    background: #3a2b6b;
}

.bcontent {
    padding: 4rem;
    color: #ffffff;
    position: relative;
}

.border:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    height: 195px;
    width: 1px;
    background: #ffffff;
    transform: translateY(-50%)
}

.bcontent i {
    font-size: 4rem;

    margin-bottom: 2rem;
}

.bcontent h4 {
    margin-bottom: 1.5rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
}

.bcontent p {
    opacity: .6;
    text-align: justify;
    margin: 0
}

@media(max-width:1199px) {
    .bcontent i {
        margin-bottom: 1rem;
    }

    .bcontent h4 {
        margin-bottom: 1rem;
        font-size: 17px
    }

    .bcontent {
        padding: 3rem;
    }
}

@media(max-width:991px) {
    .boxes .container {
        width: 100%;
        padding: 0;
        overflow: hidden;
    }

    .bcontent {
        padding: 2rem;
    }

    .bcontent i {
        margin-bottom: 0.5rem;
        font-size: 3rem;
    }

    .bcontent h4 {
        margin-bottom: 0.5rem;
        font-size: 16px;
    }

    .bcontent p {
        font-size: 13px;
    }

    .border::after {
        height: 142px;
    }
}

@media(max-width:766px) {
    .boxes {
        margin-top: 0;
        padding: 32px 0;
        background: #3a2b6b;
    }

    .bcontent {
        text-align: center
    }

    .border::after {
        height: 0;
        width: 0
    }

    .bcontent p {
        text-align: justify;
        text-align-last: center
    }

    .bcontent h4 {
        color: rgba(17, 181, 200, 1);
        font-size: 23px;
    }

}

/* video */
.video {
    padding: 62px 0
}

.video h3 {
    color: #ffffff;
    letter-spacing: -.5px;
    font-size: 40px;
    line-height: 34px;
    font-weight: 500;
    margin-bottom: 18px;
    margin-top: 0
}

.video p {
    color: #ffffff;
    margin-bottom: 5px;
    text-align: justify
}

.video .whats {
    margin-top: 18px;
    background: #ffffff;
    color: rgba(17, 181, 200, 1)
}

.video .whats p {
    color: rgba(17, 181, 200, 1);
    text-align: center
}

.video .play {
    background: #3a2b6b;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%
}
.video .title {
    text-align: center;
    margin-bottom: 62px;
}
.video .title h4{
    color: #3a2b6b !important;
    padding: 2px 4px;
    font-size: 25px
}
.video .title h4{
    color: #ffffff;
    display: inline;
    cursor: pointer;
}
.video .title h4:after{
    left: 5px;
    transform: none;
    bottom: -5px;
}
.tab-content{
    display: none;
}
.video .title h4:after{
    background: none
}
div.current h4{


}
.bg{
    padding: 5px
}
div.current .bg{
    background: #ffffff; 
    display: inline-block;

}
.tab-content.current{
    display: inherit;
}
.swiper-container.images{
    margin: 0
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url('img/chevron-left-solid.png')
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url('img/chevron-right-solid.png')
}
@media(max-width:1199px) {
    .video h3 {
        font-size: 35px
    }
    .video .title h4{
        font-size:20px
    }
}

@media(max-width:991px) {
    .video {
        padding: 42px 0;
        text-align: center
    }

    .vidimg {
        margin: 22px 0 22px !important
    }

    .center {
        text-align: center
    }

    .video p {
        text-align: justify;
        text-align-last: center;
    }
    .video .title h4 {
        font-size: 18px;
    }
}

@media(max-width:766px) {
    .video{
        padding: 0 0 32px
    }
    .video h3 {
        font-size: 23px;
        font-weight: 700;
    }
    .video .title h4{
        font-size: 13px
    }
    .al{
        text-align: left !important
    }
    .ar{
        text-align: right !important
    }
    .video .title {
        margin-bottom: 32px;
    }
    .video .play {
        width: 50px;
height: 50px;
line-height: 50px;
    }
    .bg{
        padding: 2px 0
    }
}

/* doctors */
.doctors {
    background: #ffffff;
    padding: 62px 0 0;
}

.title h4 {
    font-size: 40px;
    position: relative;
    text-align: center;
    margin: 0;
    color: #130947;
}

.title h4:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    background: #3a2b6b;
    left: 50%;
    transform: translateX(-50%);
    bottom: -17px;
    border-radius: 1px
}

.title p {
    margin-top: 32px;
    text-align: center;
    color: #6d7a8c;
}

.drbox {
    padding: 12px;
    border: 1px solid #ececec;
}

.drcontent {
    padding: 0 24px;
}

.drbox h4 {
    color: #2d2c54
}

.drbox p {
    letter-spacing: 1px;
    font-size: 11px;
    color: #3a2b6b
}

.swiper-container.doctor {
    margin: 32px 0;
    height: 427px;
    cursor: pointer;
}



.swiper-pagination-bullet-active {
    background: #3a2b6b
}

@media(max-width:1199px) {
    .swiper-container.doctor  {
        height: 367px;
    }

    .title h4 {
        font-size: 30px;
    }
}

@media(max-width:991px) {
    .doctors {
        padding: 32px 0 0;
    }

    .swiper-container.doctor  {
        height: 424px;
    }
}

@media(max-width:766px) {
    .title h4 {
        font-size: 25px;
    }

    .swiper-container.doctor  {
        height: auto;
        padding: 32px 0;
        margin: 10px 0;
    }
}

@media(max-width:500px) {
    .swiper-container.doctor  {
        padding: 32px 0;
    }
}

/* nums */
.nums {
    padding: 62px 0;
    background: rgba(17, 181, 200, 1);
}

.numb {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 3rem;
}

.numb i {
    font-size: 5rem;
    line-height: 1.5;
    color: #ffffff;
}

.nums .number {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    margin: 1rem 0;
}

.nums .number span {
    font-size: 3rem;
    margin-left: 0;
    color: #ffffff;
    font-weight: 200;
}

.nums p {
    margin: 0;
    color: #ffffff;
}

@media(max-width:991px) {
    .nums {
        padding: 32px 0;
    }

    .numb {
        padding: 1rem
    }

    .numb i {
        font-size: 4rem;
    }

    .nums .number {
        font-size: 3rem;
        margin: 0.5rem 0;
    }

    .nums p {
        font-size: 13px;
    }
}

@media(max-width:766px) {
    .mt {
        margin-top: 12px
    }

    .numb i {
        font-size: 3rem;
    }

    .nums .number {
        font-size: 2.5rem;
    }
}

/* departments */
.dips {
    background: #ffffff;
    padding: 62px 0
}
.depc {
    padding: 4rem 2rem;
    opacity: 0.9;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    height: 100%;
    bottom: -100%;
    transition: all ease-in-out 500ms;
}
.dips h3{
    color: #ffffff;
    font-size: 15px;
    text-align: left;
    margin: 0;
    display: inline-block;
}
.depb {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.depbtitle{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem 2rem;
    color: #ffffff;
    width: 100%;
    transition: all ease-in-out 500ms;
}

.green {
    background: rgba(17, 181, 200, 1)
}

.viol {
    background: rgba(58, 43, 107, .9);
}

.depb:hover .depc {
    bottom: 0;

}
.depb:hover .depbtitle {
    bottom: -100%;

}

.depctitle {
    margin-bottom: 0;
    font-size: 18px;
    padding: 6px 0;
    font-weight: 700}

.depb p {
    color: #fff;
    opacity: .85;
    font-size: 14px
}

.dips .swiper-container {
    margin: 62px 0 32px;
    height: 295px;
}

@media(max-width:1199px) {
    .depc {
        padding: 1.5rem 2rem;
    }
    .depb p{
        font-size: 13px
    }
    .depctitle {
        margin-bottom: 0px;
        font-size: 15px;
        padding: 1px 0;
    }
    .dips .swiper-container {
        height: 238px;
    }
}

@media(max-width:991px) {
    .dips {
        padding: 32px 0;
    }
    .depctitle {
        margin-bottom: 4px;
        font-size: 18px;
        padding: 6px 0;
    }
    .dips .swiper-container {
        height: 282px;
    }
}

@media(max-width:766px) {
    .dips .swiper-container {
        height: auto;
        padding: 32px 0;
        margin: 10px 0;
    }
    .depctitle {
        margin-bottom: 0px;
        font-size: 15px;
        padding: 1px 0;
    }
    .depc {
        padding: 1rem 1rem;
    }

    .depctitle {
        margin-bottom: 8px;
        font-size: 15px;
    }
}

@media(max-width:500px) {

}

/* partners */
.partners {
    padding: 62PX 0;
    background: #ffffff;
    overflow: hidden;
}

.partimg {
    margin-top: 62px;
    width: 20%;
    float: left;
    padding: 4.5rem 4.5rem;
    background: #fff;
    border: 1px solid #ecf1f8;
}

.partimg img {
    width: 150px
}

@media(max-width:1199px) {
    .partimg {
        padding: 3.5rem 3.5rem
    }
}

@media(max-width:991px) {
    .partners {
        padding: 32px 0;
    }

    .partimg {
        padding: 2rem 2rem
    }
}

@media(max-width:766px) {
    .title {
        margin-bottom: 34px;
    }

    .partimg {
        margin-top: 0;
        width: 50%;
    }
}

/* most */
.most {
    background: #0d96a6;
    padding: 32px 0
}

.mostcontent {
    color: #ffffff;
    font-size: 24px;
}

.mostcontent p {
    margin: 0
}

.mostwhats {
    float: right
}
.mostwhats .whats{
    color: rgba(58, 43, 107, .9);
}
@media(max-width:1199px) {
    .mostcontent {
        font-size: 22px;
    }
}

@media(max-width:991px) {
    .mostcontent {
        font-size: 18px;
    }
}

@media(max-width:766px) {

    .mostcontent,
    .mostwhats {
        float: none;
        display: block;

    }

    .mostcontent {
        text-align: center;
        margin-bottom: 12px;
        height: 51px;
    }

}

/* footer */
footer {
    background: #f3f6f7;
    color: #2d2c54;
    padding: 32px 0
}

footer a,
footer a:hover {
    color: #3a2b6b
}

footer img {
    width: 175px
}

footer h3 {
    margin-top: 0;
    position: relative;
}

/* 
footer h3::after {
    content: '';
    position: absolute;
    width: 62px;
    height: 2px;
    background: #3a2b6b;
    left: 0;
    bottom: -10px;
} */

footer .ta {
    display: table;
    width: 100%;
    margin-bottom: 15px;
}

footer .tc {
    display: table-cell;
    vertical-align: middle;

}

footer .pd {
    position: relative;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #efecf8;
    border-radius: 50%;
    padding-right: 12px
}

footer .pd i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px
}

ul.socila {
    position: relative;
    margin: 0;
    padding: 0;
}

ul.social li {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.social li a {
    float: left;
    position: relative;
    margin: 0 2px;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}

.top {
    margin-top: 32px;
}


footer p {
    width: 90%;
    margin-top: -15px;
    color: #6d7a8c;
    margin-bottom: 32px
}

footer .form-control,
footer .form-control:focus {
    color: #3a2b6b;
    border-radius: 0;
    font-size: 12px;
    background: #F3F3F3;
    border: 1px solid #E9E9E9;
    box-shadow: none;
    margin-bottom: 5px;
}

.copy {
    text-align: center;
    color: #6d7a8c;
    background: #ffffff
}

.copy .container {

    padding: 18px
}

.copy p {
    margin: 0
}

.copy p span {
    color: #3a2b6b
}


footer .form-control:focus {
    box-shadow: none
}

footer form button,
footer form button:hover {
    width: 100%;
    color: #ffffff !important;
    background: #3a2b6b
}

@media(max-width:1199px) {
    footer p {
        width: 95%
    }

    ul.social li {
        margin-bottom: 16px
    }
}

@media(max-width:991px) {
    .st {
        margin-top: 16px
    }

    ul.social li {
        margin-bottom: 0;
    }

    footer form {
        width: 295px;
        margin: 0 auto;
    }
}

@media(max-width:766px) {
    footer {
        text-align: center
    }

    footer h3 {
        margin-top: 16px;
        font-size: 18px;
    }

    footer p {
        font-size: 12px;
        margin-top: 12px;
        margin-bottom: 22px;
    }

    ul.social li {
        float: none
    }

    .top {
        margin-top: 0;
    }

    footer .pd {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    footer .ta {
        margin-bottom: 12px;
    }
}


@media(max-width:766px){

    #vdrv-widget #vdrv-widget-video-wrapper {
    border-radius: 20px;
    border-width: 3px;
    bottom: 25px;
    height: 135px;
    left: 25px;
    width: 100px;
    }

    
 div#perspective {
    transform: scale(0.6);
}   
}

@media(max-width:430px){

    .text-center.myPanels {
    margin-left: 76px;
    }

    header.visible-xs {
    padding-top: 41px;
    }

    div#vdrv-widget-video-wrapper {
    display: none;
    }
    .text-center.myPanels {
    margin-left: 80px;
    }

}

@media(max-width:414px){

    .text-center.myPanels {
    margin-left: 76px;
    }

    header.visible-xs {
    padding-top: 41px;
    }

    div#vdrv-widget-video-wrapper {
    display: none;
    }
    .text-center.myPanels {
    margin-left: 64px;
    }

}

@media(max-width:412px){
    .text-center.myPanels {
    margin-left: 76px;
    }
}

@media(max-width:375px){

    .text-center.myPanels {
    margin-left: 54px;

    }
    



    div#vdrv-widget-video-wrapper {
    display: none;
    }

    header.visible-xs {
    padding-top: 40px;
    }
}

@media(max-width:375px){

    .text-center.myPanels {
    margin-left: 45px;
    }


    div#vdrv-widget-video-wrapper {
    display: none;
    }

    header.visible-xs {
    padding-top: 40px;
    }
}


